<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>


    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-logo">
          <img src="/images/logo/logo.webp" alt="" />
          <h3>سایت آموزش آنلاین</h3>
        </div>
        <ul class="sidebar-links">
          <li>
            <a href="#" class="active sidebar-link">
              <!-- add active to enable link -->
              <span>
                <i class="fa fa-home"></i>
              </span>
              صفحه اصلی
            </a>
          </li>
          <li>
            <a href="#" class="sidebar-link">
              <span>
                <i class="fa fa-tag"></i>
              </span>
              دوره‌ها
            </a>
          </li>
          <li>
            <a href="#" class="sidebar-link">
              <span>
                <i class="fa fa-book-bookmark"></i>
              </span>
              درباره ما
            </a>
          </li>
        </ul>
        <div class="sidebar-logout">
          <a href="#" class="logout">
            <span>
              <i class="fa fa-lock"></i>
            </span>
            خروج
          </a>
        </div>
      </aside>
      <!-- End Sidebar -->

      <main class="main">
        <!-- Navbar -->
        <nav class="navbar">
          <div class="navbar-search">
            <input type="text" name="" id="" placeholder="جستجو کنید...." />
            <span class="navbar-search-icon">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="navbar-user-avatar">
            <img src="/images/avatar/avatar.png" alt="" />
          </div>
        </nav>
        <!-- End Navbar -->


          <!-- Courses List -->
          <ul class="courses-list">
           
            <li class="courses-item">
              <div class="courses-img-title">
                <img src="/images/courses/PWA.jpg" alt="" class="courses-img" />
                <h5 class="courses-name"><%= course.title %></h5>
                      <form action="/courses/edit/<%= course._id %>" class="edit-user-form" method="post">
                          
                    <input
              type="text"
              name="title"
              class="new-course-title"
              placeholder="عنوان جدید دوره "
              spellcheck="false"
            /><br>
     
               <button type="submit" class="add-course-btn update-btn btn">
            ویرایش دوره
          </button>
        </form>ّ
              </div>
              <div class="courses-btns">

              </div>
            </li>
          
          </ul>
          <!-- Courses List -->
        </section>
        <!-- End Courses -->
      </main>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
