<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <!---------------------------------- modal -------------------------------- -->

    <!-- add new course modal-->
    <!-- ! add visible class to be visible ! -->
    <div class="modal-container" id="add-new-course-modal">
      <div class="modal-content">
        <!-- ! Edit Course  ! -->
        <h1 class="modal-title">اضافه کردن دوره جدید</h1>
        <form action="/courses" class="edit-user-form" method="post">
          <div class="input-field">
            <span><i class="fa fa-tag"></i></span>
            <input
              type="text"
              name="title"
              class="new-course-title"
              placeholder="نام دوره"
              spellcheck="false"
            />
          </div>

          <button type="submit" class="add-course-btn update-btn btn">
            ایجاد دوره
          </button>
        </form>
      </div>
    </div>
    <!----------------------------------End modal -------------------------------- -->

    <!----------------------------------End modal -------------------------------- -->

    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-logo">
          <img src="/images/logo/logo.webp" alt="" />
          <h3>سبزلرن</h3>
        </div>
        <ul class="sidebar-links">
          <li>
            <a href="#" class="active sidebar-link">
              <!-- add active to enable link -->
              <span>
                <i class="fa fa-home"></i>
              </span>
              صفحه اصلی
            </a>
          </li>
          <li>
            <a href="#" class="sidebar-link">
              <span>
                <i class="fa fa-tag"></i>
              </span>
              دوره‌ها
            </a>
          </li>
          <li>
            <a href="#" class="sidebar-link">
              <span>
                <i class="fa fa-book-bookmark"></i>
              </span>
              درباره ما
            </a>
          </li>
        </ul>
        <div class="sidebar-logout">
          <a href="#" class="logout">
            <span>
              <i class="fa fa-lock"></i>
            </span>
            خروج
          </a>
        </div>
      </aside>
      <!-- End Sidebar -->

      <main class="main">
        <!-- Navbar -->
        <nav class="navbar">
          <div class="navbar-search">
            <input type="text" name="" id="" placeholder="جستجو کنید...." />
            <span class="navbar-search-icon">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="navbar-user-avatar">
            <img src="/images/avatar/avatar.png" alt="" />
          </div>
        </nav>
        <!-- End Navbar -->

        <!-- Courses -->
        <section class="courses">
          <div class="courses-top">
            <h2 class="courses-title">دوره ها</h2>

            <a href="#" class="btn courses-btn-add-new-course"
              >اضافه کردن دوره جدید</a
            >
          </div>

          <!-- Courses List -->
          <ul class="courses-list">
            <% courses.forEach(function(course) { %>
            <li class="courses-item">
              <div class="courses-img-title">
                <img src="/images/courses/PWA.jpg" alt="" class="courses-img" />
                <h5 class="courses-name"><%= course.title %></h5>
              </div>
              <div class="courses-btns">
                <a href="" class="courses-btn-edit btn">ویرایش</a>
                <a
                  href="/courses/remove/<%= course._id %>"
                  class="courses-btn-delete btn"
                  >حذف</a
                >
              </div>
            </li>
            <% })%>
          </ul>
          <!-- Courses List -->
        </section>
        <!-- End Courses -->
      </main>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
